.App-container {
  display: flex;
}

.App-slider {
  width: 300px;
  height: 200%;
  padding: 25px;
}
.App-Options {
  line-height: 0pt;
  margin-top: 40px; 
}

.App-Projection {
  width: 250px;
  height: 100%;
}
